<!-- 这个地方需要告诉action的路径你要结束在哪里 -->
<form action = "/toDoList" method = "post">
  <div>
    <label>Add your Morning To-Do-List</label>
      <input type='text' name='morning'>
       <label>Add your Afternoon To-Do-List</label>
      <input type='text' name='afternoon'>
       <label>Add your Evening To-Do-List</label>
      <input type='text' name='evening'>
  </div>

  <div>
   <input type='submit' value='Submit'>
  </div>
</form>
